[submodule "vendor/auth"]
	path = vendor/auth
	url = git@gitlab.tugraz.at:VPU/WebComponents/Auth.git
[submodule "vendor/common"]
	path = vendor/common
	url = git@gitlab.tugraz.at:VPU/WebComponents/Common.git
[submodule "vendor/notification"]
	path = vendor/notification
	url = git@gitlab.tugraz.at:VPU/WebComponents/Notification.git
[submodule "vendor/language-select"]
	path = vendor/language-select
	url = git@gitlab.tugraz.at:VPU/WebComponents/LanguageSelect.git
[submodule "vendor/person-profile"]
	path = vendor/person-profile
	url = git@gitlab.tugraz.at:VPU/WebComponents/PersonProfile.git
