html{
    --dbp-override-icon-image-nextcloud: url('/dist/images/nextcloud.svg');

    --dbp-override-icon-angle-double-left: url('/dist/icons/arrow-left-09.svg');
    --dbp-override-icon-angle-double-right: url('/dist/icons/arrow-right-09.svg');

    --dbp-override-icon-arrow-down: url('/dist/icons/arrow-down-7.svg');
    --dbp-override-icon-arrow-up: url('/dist/icons/arrow-up-7.svg');

    --dbp-override-icon-chevron-down: url('/dist/icons/arrow-down-12.svg');
    --dbp-override-icon-chevron-up: url('/dist/icons/arrow-up-12.svg');
    --dbp-override-icon-chevron-left: url('/dist/icons/arrow-left-12.svg');
    --dbp-override-icon-chevron-right: url('/dist/icons/arrow-right-12.svg');

    --dbp-override-icon-bolt: url('/dist/icons/flash-1.svg');
    --dbp-override-icon-clipboard: url('/dist/icons/task-1.svg');
    /* --dbp-override-icon-close: url('/dist/icons/close.svg'); we want to use dbp style */
    --dbp-override-icon-cloud: url('/dist/icons/cloud.svg');
    --dbp-override-icon-cloudnetwork: url('/dist/icons/hierarchy-3.svg');
    /* --dbp-override-icon-contrast: url('/dist/icons/contrast.svg'); we want to use dbp style */
    --dbp-override-icon-cross-circle: url('/dist/icons/remove-circle-1.svg');
    --dbp-override-icon-download: url('/dist/icons/download-2.svg');
    --dbp-override-icon-empty-file: url('/dist/icons/file-new-1.svg');
    --dbp-override-icon-envelope: url('/dist/icons/email.svg');
    --dbp-override-icon-folder: url('/dist/icons/folder-2.svg');
    --dbp-override-icon-happy: url('/dist/icons/smiley-smile-1.svg');
    --dbp-override-icon-home: url('/dist/icons/tug-home.svg');
    /* --dbp-override-icon-information: url('/dist/icons/arrow-up-12.svg'); we want to use dbp style */
    /* --dbp-override-icon-information-circle: url('/dist/icons/arrow-up-12.svg'); we want to use dbp style */
    --dbp-override-icon-laptop: url('/dist/icons/computer-notebook-1.svg');
    /* --dbp-override-icon-menu-dots: url('/dist/icons/arrow-up-12.svg'); we want to use dbp style */
    /* --dbp-override-icon-nextcloud: url('/dist/icons/arrow-up-12.svg'); we want to use dbp style */
    --dbp-override-icon-night: url('/dist/icons/moon-waning-crescent.svg');
    --dbp-override-icon-reload: url('/dist/icons/synchronize-3.svg');
    --dbp-override-icon-search: url('/dist/icons/search.svg');
    --dbp-override-icon-source_icons_align-justify: url('/dist/icons/navigation-drawer-1.svg');
    --dbp-override-icon-source_icons_eye-empty: url('/dist/icons/view-2.svg');
    --dbp-override-icon-source_icons_eye-off: url('/dist/icons/hide.svg');
    --dbp-override-icon-sun: url('/dist/icons/sunny.svg');
    --dbp-override-icon-trash: url('/dist/icons/bin-1.svg');
    --dbp-override-icon-warning-high: url('/dist/icons/report-problem-triangle.svg');
    --dbp-override-icon-world: url('/dist/icons/globe-3.svg');

}
